<footer class="footer">

    <main class="footer-main">

        <div class="left">

            <div class="left-main">
                <h1 class="title text-neon-azure">Natluk Coin</h1>
                <img src="./images/icons/icon-NC-coin" alt="">
            </div>

            <div class="container-buttons">

                <a href="" class="button-square">
                    <h5>Dashboard</h5>
                </a>

            </div>

        </div>

        <div class="right">

            <ul class="footer-menu list-disabled">
                <li>
                    <a href="">Documentation</a>
                </li>
                <li>
                    <a href="">How it works</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">Socials</a>
                </li>
            </ul>

            <ul class="footer-socials list-disabled">

                <li>
                    <a title="Telegram" href=""><img src="./images/icons/socials/icon-telegram.png"></a>
                </li>

                <li>
                    <a title="telegram" href=""><img src="./images/icons/socials/icon-telegram.png" alt=""></a>
                </li>

                <li>
                    <a title="Community Discord" href=""><img src="./images/icons/socials/icon-telegram.png" alt=""></a>
                </li>

                <li>
                    <a title="Coin Discord" href=""><img src="./images/icons/socials/icon-telegram.png" alt=""></a>
                </li>

                <li>
                    <a title="telegram" href=""><img src="./images/icons/socials/icon-telegram.png" alt=""></a>
                </li>

                <li>
                    <a title="telegram" href=""><img src="./images/icons/socials/icon-telegram.png" alt=""></a>
                </li>

                <li>
                    <a title="telegram" href=""><img src="./images/icons/socials/icon-telegram.png" alt=""></a>
                </li>

                <li>
                    <a title="telegram" href=""><img src="./images/icons/socials/icon-telegram.png" alt=""></a>
                </li>
            </ul>

        </div>

    </main>

</footer>