<header class="header">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="headerBox">
      <div class="headerBox-one">
        <div class="headerBox-one__header" data-aos="fade-up" data-aos-delay="200">
          <div><img src="./images/icons/NCCOIN_square.png" alt="logo">
            <p class="headerBox-one__header-logo1">Natluk
              coin</p>
          </div>
          <span class="headerBox-one__header-logo2">Where (3,3) becomes (4,4)</span>
        </div>
        <div class="headerBox-one__main"data-aos="fade-up" data-aos-delay="400">
          <h2 class="headerBox-one__main-title">Let's Build Wealth</h2>
          <ul>
            <li>
              <p>When you have <span>paper hands</span>, you sell too early.</p>
            </li>
            <li>
              <p>When you have <span>diamond hands</span>, you HODL until you reach your goal.</p>
            </li>
            <li>
              <p>When you have <span>smart hands</span>, you stake and move towards WEALTH!</p>
            </li>
          </ul>
        </div>
        <div class="headerBox-one__footer" data-aos="fade-up" data-aos-delay="600">
          <a class="button bg-none2 smoke">Dashboard</a>

          <a class="button bg-none1 smoke">Roadmap</a>
        </div>
      </div>
      <div class="header-box-two">
        <div class="planeta"> <iframe title="Earthquakes - 2000 to 2019" width="100%" height="100%" frameborder="0"
            allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true"
            allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="" execution-while-out-of-viewport=""
            execution-while-not-rendered="" web-share=""
            src="https://sketchfab.com/models/fb78f4cc938144e6902dd5cff354d525/embed?autospin=1&autostart=1&preload=1&transparent=1&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=0&ui_help=0&ui_settings=0&ui_vr=0&ui_fullscreen=0&ui_annotations=0">
          </iframe> </div>
      </div>
    </div>
  </header>