<nav class="navbar">
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="#" class="nav-link">Documentation</a>
      </li>
      <li class="nav-item">
        <a href="#works" class="nav-link">How it works</a>
      </li>
      <li class="nav-item">
        <a href="#faq" class="nav-link">FAQ</a>
      </li>
      <li class="nav-item">
        <a href="#social" class="nav-link">Socials</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>