<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/18c06a9acc.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="./styles/css/main.css">
  <link rel="stylesheet" href="./styles/css/stars.css">
</head>

<body>

  
  <%- include('./partials/navbar.ejs') %>

  <%- include('./partials/header.ejs') %>


  <section class="section-one">
    <div class="section-one_box">
      <div class="section-one_box-one">
        <div class="section-one_box-one__header"></div>
        <div class="section-one_box-one__main">
          <p class="bbtc">Market cap</p>
          <p class="pbtc">$122,557,155</p>
        </div>
      </div>
      <div class="section-one_box-one">
        <div class="section-one_box-one__header"></div>
        <div class="section-one_box-one__main">
          <p class="bbtc">Price</p>
          <p class="pbtc">$207.18</p>
        </div>
      </div>
      <div class="section-one_box-one">
        <div class="section-one_box-one__header"></div>
        <div class="section-one_box-one__main">
          <p class="bbtc">Circulating supply</p>
          <p class="pbtc">592,702/621,271</p>
        </div>
      </div>
      <div class="section-one_box-one">
        <div class="section-one_box-one__header"></div>
        <div class="section-one_box-one__main">
          <p class="bbtc">Treasury Balance</p>
          <p class="pbtc">$49,082,098</p>
        </div>
      </div>
      <div class="section-one_boxTwo">
        <div class="section-one_boxTwo-one">
          <div class="section-one_boxTwo-one_logo">
            <div class="section-one_boxTwo-one_logo-title" data-aos="fade-right" data-aos-delay="200">
              <p class="title">What is <span>Hector</span> DAO?</p>
            </div>
            <div class="section-one_boxTwo-one_logo-subtitle" data-aos="fade-right" data-aos-delay="400">
              <p class="subtitle">
                Hector is a decentralized protocol based on the $HEC token – collateralized and backed
                by the Hector DAO. $HEC will be the reserve currency on Fantom. In order to maintain
                price stability Hector will use the Algorithmic Reserve Currency algorithm and will also
                be supported by other decentralized assets.</p>
            </div>
          </div>
          <div class="section-one_boxTwo-one_icone">
            <img src="https://hectordao.com/wp-content/themes/hectordao/assets/images/coins.png" alt="">
          </div>
        </div>
        <div class="section-one_boxTwo-two">
          <img class="about-ellipse" src="https://hectordao.com/wp-content/themes/hectordao/assets/images/coin.png"
            alt="">
        </div>
      </div>

      <div class="spacer layer1"></div>



      <!-- wiem że kod jest przytki i pisany w stylu amatora ale jestem leniwy i nie chce mi sie -->
      <section id="works" class="section-two">
        <div class="section-two_box">
          <div class="section-two_boxOne">
            <div class="section-two_boxOne-title" data-aos="fade-right" data-aos-delay="200">
              <p class="title">HOW DOES <span>HECTOR</span> WORK?</p>
            </div>
          </div>
          <div class="section-two_boxTwo">
            <div class="section-two_boxTwo-box">
              <p class="number-bg">1</p>
              <div class="animation section-two_boxTwo-boxMain">
                <div class="number">
                  <p class="number-one">Treasury Revenue</p>
                </div>
                <div class="content">
                  <div class="title">
                    <p class="title-one text">LP Fees &amp; Bonds</p>
                  </div>
                  <div class="subtitle">
                    <p class="subtitle-one text">Liquidity Pool fees as well as Bond
                      sales increase Hector's treasury revenue.
                      They also lock in liquidity and help to
                      control the HEC supply.</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="section-two_boxTwo-box">
              <p class="number-bg">2</p>
              <div class="animation section-two_boxTwo-boxMain">
                <div class="number">
                  <p class="number-one">Treasury Revenue</p>
                </div>
                <div class="content">
                  <div class="title">
                    <p class="title-one text">LP Fees &amp; Bonds</p>
                  </div>
                  <div class="subtitle">
                    <p class="subtitle-one text">Liquidity Pool fees as well as Bond
                      sales increase Hector's treasury revenue.
                      They also lock in liquidity and help to
                      control the HEC supply.</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="section-two_boxTwo-box">
              <p class="number-bg">3</p>
              <div class="animation section-two_boxTwo-boxMain">
                <div class="number">
                  <p class="number-one">Treasury Revenue</p>
                </div>
                <div class="content">
                  <div class="title">
                    <p class="title-one text">LP Fees &amp; Bonds</p>
                  </div>
                  <div class="subtitle">
                    <p class="subtitle-one text">Liquidity Pool fees as well as Bond
                      sales increase Hector's treasury revenue.
                      They also lock in liquidity and help to
                      control the HEC supply.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <section id="faq" class="section-tree">
        <div class="section-tree_box">
          <div class="section-tree_boxOne">
            <div class="section-two_boxOne-title" data-aos="fade-right" data-aos-delay="400">
              <p class="title">FAQ</p>
            </div>
          </div>
          <div class="section-tree_boxTwo">
            <div class="section-tree_boxTwo-one">
              <div class="accordion-menu">
                <ul>
                  <li>
                    <input type="checkbox" checked>
                    <i class="arrow"></i>
                    <h2><i class="fas fa-code"></i>Languages Used</h2>
                    <p>This UI was written in HTML and CSS.
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i class="arrow"></i>
                    <h2><i class="fas fa-code"></i>Lertertr</h2>
                    <p>This UI was written in HTML and CSS.
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i class="arrow"></i>
                    <h2><i class="fas fa-code"></i>Lertertr</h2>
                    <p>This UI was written in HTML and CSS.
                    </p>
                  </li>
                </ul>
              </div>

            </div>
            <div class="section-tree_boxTwo-one">
              <div class="accordion-menu">
                <ul>
                  <li>
                    <input type="checkbox" checked>
                    <i class="arrow"></i>
                    <h2><i class="fas fa-code"></i>Languages Used</h2>
                    <p>This UI was written in HTML and CSS.
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i class="arrow"></i>
                    <h2><i class="fas fa-code"></i>Lertertr</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione deleniti at soluta praesentium
                      distinctio assumenda quas quisquam magnam corrupti architecto placeat ab saepe sunt voluptatibus
                      recusandae nostrum, quo expedita natus necessitatibus id esse laboriosam unde consectetur?
                      Pariatur, aliquid modi.
                    </p>
                  </li>
                  <li>
                    <input type="checkbox" checked>
                    <i class="arrow"></i>
                    <h2><i class="fas fa-code"></i>Lertertr</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsam unde, sint repudiandae
                      neque quo sunt nobis nemo! Assumenda quia voluptate voluptatem dicta dolorem natus inventore?
                      Reprehenderit cumque molestiae et!
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer layer2"></div>
      </section>
      <footer id="social">
        <div class="footer-main">
          <div class="footer-main__one">
            <div class="footer-main__one-logo">
              <img src="./images/icons/NCCOIN_square.png" alt="logo">
              <p class="logo">Natluk coin</p>
            </div>
            <div class="footer-main__one-button">
              <a class="button bg-none2 smoke">Dashboard</a>
            </div>
          </div>
          <div class="footer-main__two">
            <div class="footer-main__two-menu">
              <a href="">Documentation</a>
              <a href="#works">How it works</a>
              <a href="#faq">FAQ</a>
              <a href="#social">Socials</a>
            </div>
            <div class="footer-main__two-icone">
              <i class="fab fa-github"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-telegram"></i>
              <i class="fab fa-twitter-square"></i>
              <i class="fab fa-discord"></i>


            </div>
            
          </div>
          <div class="footer-stop"><p> © Copyright 2021, Hector DAO. All rights reserved.</p></div>
        </div>
      </footer>
    </div>
  </section>





  <script src="./scripts/main12.js"></script>
  <script src="./scripts/main.js"></script>
  <script src="./scripts/button.js"></script>
  <script src="./scripts/vanilla-tilt.js"></script>
  <script type="text/javascript">
    VanillaTilt.init(document.querySelectorAll(".animation"), {
      max: 15,
      speed: 400,
      glare: false,
      "max-glare": 0.5
    });
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({

      startEvent: 'DOMContentLoaded',
      offset: 200,
      once: true


    });
  </script>
</body>

</html>.

   

