<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/18c06a9acc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./styles/css/main.css">
    <link rel="stylesheet" href="./styles/css/stars.css">
</head>

<body>


    <%- include('./partials/navbar.ejs') %>


    <header class="section header-howitworks">

        <main class="section-main">
            <h1 class="title">HEX IS SPECIAL</h1>
        </main>

    </header>

    <section class="section about">
        <main class="section-main">

            <div class="about-left">
                <img src="./images/icons/NCCOIN_square.png" alt="">
                <h1 class="motto">HEX Is The First Blockchain Certificate Of Deposit</h1>
            </div>
            <div class="about-right">
                <h3>
                    CDs, known as Certificates of Deposit or Time Deposits, are worth Trillions of dollars. CDs are
                    worth more than gold, credit card companies, and cash. CDs pay higher interest than savings
                    accounts, requiring money be deposited for a fixed time.
                </h3>

                <h3>
                    Banks profit on poor customer service, early withdrawal fees, and auto-renewing you at worse
                    rates. They pay pitifully low interest. New money is printed all the time, making yours less
                    valuable. HEX replaces inefficient currencies, banks and payment networks with verifiably secure
                    peer-to-peer technology. HEX has outperformed Bank CDs because it's nothing like a Bank CD. HEX
                    monetizes the time value of money in a totally new way. In HEX, you're the bank.
                </h3>
            </div>

        </main>
    </section>





    <script src="./scripts/main12.js"></script>
    <script src="./scripts/main.js"></script>
    <script src="./scripts/button.js"></script>
    <script src="./scripts/vanilla-tilt.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({

            startEvent: 'DOMContentLoaded',
            offset: 200,
            once: true

        });
    </script>
    
</body>

</html>.