$main:#252422;
$shadow:#00102ed0;
$section_one:#09111C;
$section_two:#0a1420;
$section_tree:rgba(9, 20, 34, 1);
$section-four:#0a1420c2;


$blue-one:#0466C8;
$blue-two:#0353a4;
$blue-tree:#023e7d;
$blue-four:#002855;
$blue-five:#001845;
$blue-six:#001233;

$gray-one:#33415c;
$gray-two:#5c677d60;
$gray-tree:#7d8597;
$gray-four:#979dac62;

$--background: #8d5000;
$--shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
$--shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};

// $midnight: #2c3e50;
// $clouds: #ecf0f1;