$section-max_width: 1200px;
$color-icon: #3799fb;

.section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .section-main {
        height: 100%;
        width: 100%;
        max-width: $section-max_width;
        padding: 6rem 2rem;

        margin: auto;

        display: flex;
        align-items: center;
    }
}

header {
    padding-top: 6rem;
}
.header-howitworks {
    min-height: 35vh;

    //background-image: url('../../images/backgrounds/background2.svg');

    .section-main {
        flex-direction: column;
        .title {
            font-size: 5em;
            font-weight: 600;
        }
    }
}
.about {
    background-image: linear-gradient(30deg, $blue-one 0%, $blue-six 100%);
    .section-main {

        gap: 2rem;
        .about-left {
            height: 100%;
            width: 50%;

            text-align: center;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;

            img {
                height: 5rem;
                width: 5rem;
                object-fit: contain;
            }
            .motto {
                font-size: 4em;
                font-weight: 600;
            }
        }
        .about-right {
            height: 100%;
            width: 50%;

            text-align: center;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3 {
                //font-weight: 400;
            }
        }
    }
}




.image-container {
    height: 100%;
    width: 100%
}




.section-howtobuy {
    @extend .section;
    .section-main {

    }
}

.header-howtobuy {
    //height: 80vh;

    background-attachment: fixed;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../images/backgrounds/background-1.webp');
    .section-main {
        gap: 2rem;
        
        .header-howtobuy-left {
            height: 100%;
            width: 60%;
            padding-left: 6%;

            display: flex;
            flex-direction: column;
            gap: 1rem;


            .title {
            
                font-size: 5em;
                font-weight: 600;
                span {
                    color: $color-icon;
                }
            }
        }
        .header-howtobuy-right {
            height: 100%;
            width: 40%;

            display: flex;
            align-items: center;
            .icon {
                height: 24rem;
                width: 24rem;
                margin: auto;
            }
        }
        @media screen and (max-width: 1000px) {
            .header-howtobuy-right {

                .icon {
                    height: 18rem;
                    width: 18rem;
                }
            }
        }
        @media screen and (max-width: 800px) {
            .header-howtobuy-right {

                .icon {
                    height: 14rem;
                    width: 14rem;
                }
            }
            
        }
        @media screen and (max-width: 550px) {
            .header-howtobuy-left {
                width: 100%;
                padding: 0;
                text-align: center;
            }
            .header-howtobuy-right {
                display: none;
            }
            
        }
    }

}

.section-howtobuy {
    
    .section-main {
        flex-direction: column;
        gap: 6rem;

        .title {
            margin: 4rem 0;
            font-size: 4em;
            font-weight: 600;
        }

        .explanation {
            height: fit-content;
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 6rem;

            &-card {
                height: fit-content;
                width: 100%;
                padding: 3rem;

                background-color: white;
                border-radius: 1rem;

                display: flex;
                flex-direction: column;
                gap: 3rem;

                img {
                    height: auto;
                    max-height: 60rem;
                    width: 100%;

                    border: 0.1rem dashed black;
                    border-radius: 1rem;

                    object-fit: contain;
                }
                .name {
                    color: black;
                }
            }

        }

        .button-standard {
            h1, h2, h3, h4, h5, h6 {

            }
        }
    }
}

