body {
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.9em;
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1em;
}
p {

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}