@import url('https://fonts.googleapis.com/css2?family-Roboto:ital,wght@0,500;1,400&display-swap');

@import './_colors';
@import './menu';

@import './text';
@import './buttons';
@import './sections';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $section_one;
    // height: 200vh;
    font-family: 'Roboto', sans-serif;
}



header {
    position: relative;
    width: 100%;
    // height: 100vh;
    overflow: hidden;
    // z-index: 5;

    .headerBox {
        // position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 80vh;
        margin-top: 2%;
        margin-bottom: 18%;
        // height: 100%;
        // background-color: rgba(146, 146, 146, 0.274);
        // z-index: 50;


        &-one {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 80px;

            color: white;
            width: 100%;
            max-width: 600px;
            // height: 70%;
            // max-height: 400px;
            // background-color: rgb(158, 7, 7);

            &__header {
                display: flex;
                flex-direction: column;
                // justify-content: space-around;
                width: 100%;
                max-width: 600px;
                height: 30%;
                // background-color: aliceblue;

                div {
                    padding-bottom: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .headerBox-one__header-logo1 {
                        font-size: 5rem;
                        // font-weight: 600;
                        // color: black;
                    }

                    img {
                        width: 20%;
                        max-width: 60px;
                        height: 85%;
                        border-radius: 10px;
                        margin-right: 10px;
                        // background-color: black;
                    }
                }

                &-logo2 {
                    font-size: 1.5rem;
                    margin: auto;
                }
            }


            &__main {
                margin-top: 8%;
                margin-bottom: 4%;
                width: 90%;
                max-width: 600px;

                &-title {
                    font-size: 4rem;
                    font-weight: 600;
                }

                ul {
                    margin: 1% 5%;
                    width: 95%;
                    color: white;
                    font-size: 1.8rem;
                }

                li {
                    margin: 10px;
                }

                span {
                    color: #3799fb;
                }
            }


            &__footer {
                display: flex;
                justify-content: space-around;
                width: 100%;
                max-width: 350px;
                height: 20%;
                // background-color: blue;

                .bg-none1 {
                    // background: none;
                    background-color: rgba(255, 255, 0, 0);
                    transition: background-color .5s;

                    &:hover {
                        background-color: #025bb469;
                    }
                }

                .bg-none2 {
                    background-color: #0065cacb;
                    transition: background-color .3s;

                    &:hover {
                        background-color: #025bb469;
                    }

                }

                .button {
                    padding: 20px 42px;
                    border: 1px dashed rgba(253, 245, 230, 0.39);
                    font-weight: 600;
                    border-radius: 14px;
                    font-size: 1.5em;

                    // border: none;
                    cursor: pointer;
                    text-decoration: none;
                    // color: var(--text);

                    div {
                        display: flex;

                        span {
                            display: block;
                            backface-visibility: hidden;
                            font-style: normal;
                            $i: 1;

                            @while $i < 12 {
                                &:nth-child(#{$i}) {
                                    --d: #{$i / 20 + s};
                                }

                                $i: $i+1;
                            }
                        }
                    }

                    div:hover {
                        --y: var(--move-hover);
                        --shadow: var(--shadow-hover);
                        --move: -4px;
                        --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);

                        span {
                            animation: move var(--duration) linear var(--d);
                        }
                    }

                    &.smoke {
                        --move: 12px;
                        --move-y: -8px;
                        --blur: 4px;

                        &:hover {
                            span {
                                --duration: 1s;
                                animation: smoke var(--duration) linear var(--d);
                            }
                        }
                    }

                    @keyframes smoke {

                        45%,
                        55% {
                            filter: blur(var(--blur));
                        }

                        50%,
                        50.1% {
                            opacity: 0;
                        }

                        25%,
                        75% {
                            transform: translateX(0);
                        }

                        50% {
                            transform: translateX(var(--move)) translateY(var(--move-y));
                        }

                        50.1% {
                            transform: translateX(calc(var(--move) * -1));
                        }
                    }
                }
            }

        }

    }
}



.section-one {
    position: relative;
    // height: 200vh;
    display: flex;
    justify-content: center;
    background-color: $section_one;
    // order:5;
    // z-index: 10;

    &_box {
        position: absolute;
        // margin-top: 90px;
        // top: 10%;
        display: flex;
        justify-content: center;
        // background-color: aqua;
        width: 100%;
        // height: 100%;
        flex-wrap: wrap;
        // z-index: 2;

        &-one {
            position: relative;
            justify-content: center;
            width: 300px;
            height: 250px;
            // border-radius: 34px;
            // background-color: rgb(0, 0, 0);
            z-index: 1;
            margin: 1%;

            &__header {
                position: absolute;
                left: 5%;
                right: 5%;
                bottom: 5%;
                // width: 80%;
                height: 95%;
                border-radius: 10px;
                background: rgb(92, 103, 125);
                background: linear-gradient(90deg, rgba(92, 103, 125, 1) 0%, rgba(151, 151, 151, 1) 100%);
            }

            &__main {
                position: absolute;
                bottom: 5%;
                width: 100%;
                height: 90%;
                border-radius: 15px;
                background-color: $section_two;
                transition: bottom .2s;

                &:hover {
                    bottom: 0;
                    // height: 100%;
                }

                p {
                    text-align: center;
                    color: rgb(255, 255, 255);

                }

                .bbtc {
                    padding: 50px 0;
                    font-size: 3rem;
                    // background-color: lawngreen;
                }

                .pbtc {
                    margin: auto;
                    padding: 20px 20px;
                    // text-align: center;
                    font-size: 2rem;
                    width: 80%;
                    border-radius: 20px;
                    // padding: 40px 0;
                    background: rgb(92, 103, 125);
                    background: linear-gradient(90deg, rgba(92, 103, 125, 1) 0%, rgba(151, 151, 151, 1) 100%);
                }
            }
        }

    }

    .section-one_boxTwo {
        // position: absolute;
        display: flex;
        margin: 3% 0;
        justify-content: center;
        top: 100px;
        width: 100%;
        // height: 800px;
        // background-color: rgb(25, 68, 211);

        &-one {
            width: 100%;
            max-width: 700px;
            // height: 100%;
            // background-color: #FF9900;

            &_logo {
                width: 100%;
                // height: 50%;
                // background-color: #180536;

                &-title {
                    position: relative;
                    margin: 2% 5%;
                    // text-align: center;
                    font-size: 3rem;
                    color: white;


                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 4%;
                        bottom: 50%;
                        width: 10%;
                        height: 1px;
                        background-color: white;
                    }

                    .title {
                        margin-left: 15%;

                    }

                    span {
                        color: #3799fb;
                    }
                }

                &-subtitle {
                    .subtitle {
                        margin: 5%;
                        font-size: 2rem;
                        color: white;
                        font-weight: 500;
                    }
                }
            }

            &_icone {
                img {
                    margin: 4% 20%;
                    width: 50%;
                    // max-width: 400px;
                    // height: 100%;
                    // background-color: white;
                }
            }
        }


    }
}

.section-two {
    // order:2;
    position: relative;
    width: 100%;
    padding: 3% 0;
    // -------------------------
    // height: 100vh;

    background-color: $section_tree;

    &_box {
        width: 100%;
        height: 100%;
        // background-color: #7a7a7a;

        &One {
            width: 100%;
            // height: 30%;
            // background-color: #e9e9e9;

            &-title {
                position: relative;
                margin: 2% 5%;
                // margin-left: 5%;
                // text-align: center;
                max-width: 500px;
                font-size: 3rem;
                color: white;


                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 4%;
                    bottom: 50%;
                    width: 10%;
                    height: 1px;
                    background-color: white;
                }

                .title {
                    margin-left: 15%;
                    // background-color: rgb(17, 15, 1);

                }

                span {
                    color: #3799fb;
                }
            }
        }

        &Two {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            // height: 100%;
            // background-color: rgb(29, 29, 141);

            &-box {
                position: relative;
                margin: 3%;
                width: 350px;
                height: 450px;
                // background-color: rgb(32, 32, 32);

                .number-bg {
                    position: absolute;
                    top: -16%;
                    left: -16%;
                    font-size: 40rem;
                    font-style: italic;
                    color: rgba(255, 255, 255, 0.61);
                    z-index: 1;
                }

                &Main {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    width: 80%;
                    height: 85%;
                    border-radius: 25px;
                    border: 1px dashed rgba(253, 245, 230, 0.39);
                    background-color: $section_four;
                    backdrop-filter: blur(8px);
                    z-index: 2;


                    .number {
                        // position: relative;
                        border-radius: 25px;
                        width: 100%;
                        height: 20%;
                        color: white;


                        &-one {
                            margin: 8% 4%;
                            text-align: center;
                            font-size: 2rem;

                            span {
                                font-size: 40rem;
                                margin-right: 5%;

                            }
                        }
                    }

                    .text {
                        padding: 5% 4%;
                        text-align: center;
                        font-size: 2rem;
                        color: white;
                    }

                    .content {
                        width: 100%;
                        height: 80%;
                        // background-color: yellowgreen;
                        border-radius: 25px;
                        overflow: hidden;

                        background-color: #1078e0a8;
                        transition: height .3s;


                        &:hover {
                            height: 100%;
                        }

                        .title {
                            // padding: 2% 0;
                            width: 100%;
                            height: 20%;
                        }

                        .subtitle {
                            padding: 5% 0;
                            width: 100%;
                            height: 80%;
                            border-radius: 25px;
                            background: rgb(92, 103, 125);
                            background-color: #d4d0c960;

                            &-one {
                                margin: 2.5%;
                            }
                        }
                    }

                }
            }
        }
    }
}


.section-tree {
    position: relative;
    width: 100%;


    &_box {
        &One {
            width: 100%;
            margin-top: 79px;
        }

        &Two {

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 6%;
            width: 100%;

            &-title {
                position: relative;
                margin: 2% 5%;
                max-width: 500px;
                font-size: 4rem;
                color: white;


                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 4%;
                    bottom: 50%;
                    width: 10%;
                    height: 1px;
                    background-color: white;
                }

                .title {
                    margin-left: 15%;
                }
            }

            &-one {
                display: flex;
                justify-content: center;
                margin: 2%;
            }

            .accordion-menu {
                max-width: 400px;
                padding: 10px;
                border-radius: 5px;
            }

            h2 {
                font-size: 18px;
                line-height: 34px;
                font-weight: 500;
                letter-spacing: 1px;
                display: block;
                margin: 0;
                cursor: pointer;
                color: #ebebeb;
            }

            p {
                position: relative;
                transform: translate(0, 0);
                line-height: 26px;
                font-size: 15px;
                margin-top: 14px;
                color: rgba(170, 189, 211, 0.8);
                letter-spacing: 1px;
                max-height: 800px;
                overflow: hidden;
                z-index: 2;
                opacity: 1;
            }

            ul {
                list-style: none;
                perspective: 900;
                padding: 0 20px 10px;
                margin: 0;


                background-color: rgba(212, 196, 196, 0.178);



                border-radius: 5px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
                    0 2px 2px 0 rgba(255, 255, 255, 0.19);
            }

            ul li {
                position: relative;
                padding: 0;
                margin: 0;
                padding-bottom: 4px;
                padding-top: 18px;
                border-top: 1px dotted #bfc7ca;
            }

            ul li:nth-child(1) {
                border: none;
            }

            ul li:nth-of-type(1) {
                animation-delay: 0.5s;
            }

            ul li:nth-of-type(2) {
                animation-delay: 0.75s;
            }

            ul li:nth-of-type(3) {
                animation-delay: 1.0s;
            }

            ul li:last-of-type {
                padding-bottom: 0;
            }

            ul li .arrow {
                position: absolute;
                transform: translate(-6px, 0);
                margin-top: 16px;
                right: 0;
            }

            ul li .fas {
                color: #477eb4;
                font-size: 15px;
                margin-right: 10px;
            }

            ul li .arrow:before,
            ul li .arrow:after {
                content: "";
                position: absolute;
                background-color: #477eb4;
                width: 3px;
                height: 9px;
            }

            ul li .arrow:before {
                transform: translate(-2px, 0) rotate(45deg);
            }

            ul li .arrow:after {
                transform: translate(2px, 0) rotate(-45deg);
            }

            ul li input[type=checkbox] {
                position: absolute;
                cursor: pointer;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
            }

            ul li input[type=checkbox]:checked~p {
                margin-top: 0;
                max-height: 0;
                opacity: 0;
                transform: translate(0, 50%);
            }

            ul li input[type=checkbox]:checked~.arrow:before {
                transform: translate(2px, 0) rotate(45deg);
            }

            ul li input[type=checkbox]:checked~.arrow:after {
                transform: translate(-2px, 0) rotate(-45deg);
            }

            .transition,
            p,
            ul li .arrow:before,
            ul li .arrow:after {
                transition: all 0.25s ease-in-out;
            }

            .flipIn,
            h1,
            ul li {
                animation: flipdown 0.5s ease both;
            }

            .no-select,
            h2 {
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;
                user-select: none;
            }

            @keyframes flipdown {
                0% {
                    opacity: 0;
                    transform-origin: top center;
                    transform: rotateX(-90deg);
                }

                5% {
                    opacity: 1;
                }

                80% {
                    transform: rotateX(8deg);
                }

                83% {
                    transform: rotateX(6deg);
                }

                92% {
                    transform: rotateX(-3deg);
                }

                100% {
                    transform-origin: top center;
                    transform: rotateX(0deg);
                }
            }

        }
    }
}


footer {
    width: 100%;
    // height: 50vh;
    background-color: rgba(32, 36, 41, 0.596);
    // background-color: rgb(121, 230, 20);
    
    .footer-main {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 3%;
        width: 100%;
        height: 100%;

        &__one {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 80%;
            max-width: 400px;

            &-logo {
                width: 100%;
                height: 150px;
                padding-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;


                font-size: 5rem;
                color: rgb(255, 255, 255);

                img {
                    width: 20%;
                    max-width: 60px;
                    height: 45%;
                    border-radius: 10px;
                    margin-right: 10px;
                }
            }


            &-button {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;

                .bg-none2 {
                    background-color: #0065cacb;
                    transition: background-color .3s;

                    &:hover {
                        background-color: #025bb469;
                    }

                }

                .button {
                    padding: 20px 42px;
                    border: 1px dashed rgba(253, 245, 230, 0.39);
                    font-weight: 600;
                    border-radius: 14px;
                    font-size: 1.5em;
                    cursor: pointer;
                    text-decoration: none;

                    div {
                        display: flex;

                        span {
                            display: block;
                            backface-visibility: hidden;
                            font-style: normal;
                            $i: 1;

                            @while $i < 12 {
                                &:nth-child(#{$i}) {
                                    --d: #{$i / 20 + s};
                                }

                                $i: $i+1;
                            }
                        }
                    }

                    div:hover {
                        --y: var(--move-hover);
                        --shadow: var(--shadow-hover);
                        --move: -4px;
                        --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);

                        span {
                            animation: move var(--duration) linear var(--d);
                        }
                    }

                    &.smoke {
                        --move: 12px;
                        --move-y: -8px;
                        --blur: 4px;

                        &:hover {
                            span {
                                --duration: 1s;
                                animation: smoke var(--duration) linear var(--d);
                            }
                        }
                    }

                    @keyframes smoke {

                        45%,
                        55% {
                            filter: blur(var(--blur));
                        }

                        50%,
                        50.1% {
                            opacity: 0;
                        }

                        25%,
                        75% {
                            transform: translateX(0);
                        }

                        50% {
                            transform: translateX(var(--move)) translateY(var(--move-y));
                        }

                        50.1% {
                            transform: translateX(calc(var(--move) * -1));
                        }
                    }
                }
            }
        }


        &__two {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 90%;
            max-width: 600px;

            &-menu{

                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                height: 100px;

                a {
                    margin: 0 3%;
                    font-size: 2.2rem;
                    font-weight: 400;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                    transition: all .2s;


                    &:hover {
                        padding: 6px 15px;
                        background-color: rgba(255, 255, 255, 0.219);
                        border: 1px solid rgb(136, 136, 136);
                        border-radius: 15px;
                        box-shadow: 0px 2px 26px rgb(29, 29, 29);
                    }
                }

            }

            &-icone {
                display:flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 200px;
                // width: 500px;
                // height: 200px;

                // background-color: chocolate;

                i{
                    font-size: 2.5rem;
                    margin: 1rem;
                    color:white;
                    transition: color .2s;

                    &:hover{
                        color:rgba(41, 41, 194, 0.466);
                    }
                }
            }

        }


        
        .footer-stop{
            width: 100%;
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            color:white;
            // background-color: yellow;
        }
    }

}



.spacer {
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
}

.layer1 {
    background-image: url('../background_svg/background.svg');
}

.layer2 {
    background-image: url('../background_svg/background2.svg');
}


.about-ellipse {
    display: none;
}

.planeta {
    margin-top: 80px;
    display: none;
}

// nowe
body::-webkit-scrollbar {
    width: 13px;
    // szerokość scrolla
}

body::-webkit-scrollbar-track {
    background: none;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #333;
    /* color of the scroll thumb */
    border-radius: 15px;
    /* roundness of the scroll thumb */
    // border: 3px solid orange;  /* creates padding around scroll thumb */
}



@media (min-width:900px) {
    .header-box-two {
        display: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 100%;


        .planeta {
            display: block;
            // border-radius: 50px;
            width: 500px;
            height: 500px;
        }
    }

    .section-one_boxTwo {
        &-two {
            position: relative;
            width: 500px;
            height: 100%;
            // background-color: #3a0cdf;

            .about-ellipse {
                display: block;
                position: absolute;
                // top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                // height: 70%;
                // background-color: white;
                animation: run 3.5s infinite alternate;

                @keyframes run {
                    from {
                        top: 45%
                    }

                    to {
                        top: 55%
                    }
                }
            }
        }

    }
}

@media (min-width:1400px) {
    header {

        .headerBox {
            margin-top: 3%;
            margin-bottom: 15%;
        }
    }
}