<section class="section about-community hidden">

    <main class="section-main about-community-main">

        <div class="container-text">
            <h1 class="header">Natluk <span class="text-neon-azure">community</span></h1>
            <h4 class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis
                perferendis
                dolorem animib? Similique explicabo eveniet ea ab animi aliquam cupiditate minus facilis officiis,
                est, saepe accusantium illum natus! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Tempore
                commodi voluptates expedita! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                veritatis
                dignissimos totam quam ratione consectetur voluptas porro accusantium expedita pariatur? Pariatur
                fugit minus mollitia dolores, sunt libero repudiandae eligendi deserunt!</h4>
        </div>

        <div class="container-buttons-outter">
            <h3>Our <span class="text-neon-azure">community</span> page</h3>

            <div class="container-buttons">
                <a id="button-community" href="" class="button-square button-full">
                    <h5>Visit</h5>
                </a>
            </div>
        </div>


    </main>

</section>