<section class="section about-coin hidden">

    <main class="section-main about-coin-main">

        <div class="container-text">
            <h1 class="header">What is <span class="text-neon-azure">Natluk</span> Coin</h1>
            <h4 class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis
                perferendis
                dolorem animib? Similique explicabo eveniet ea ab animi aliquam cupiditate minus facilis officiis,
                est, saepe
                accusantium illum natus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore commodi
                voluptates expedita!</h4>
        </div>

        <div class="container-links">
            <h1 class="header">Useful Links</h1>
            <ol class="list-disabled">

                <li>
                    <h4>Our coin on <span class="text-neon-azure">dextools.com</span></h4> <a
                        href="https://www.dextools.io/app/polygon/pair-explorer/0x78e16d2facb80ac536887d1376acd4eeedf2fa08"
                        class="button-dextools">Visit</a>
                </li>

                <li>
                    <h4>Coin's <span class="text-neon-azure">liguidity pool</span></h4> <a
                        href="https://quickswap.exchange/#/pool" class="button-quickswap">Add Liquidity</a>
                </li>

                <li>
                    <h4>Lorem ipsum dolor <span class="text-neon-azure">sit amet</span> consectetur adipisicing
                        elit.</h4>
                </li>

            </ol>
        </div>

        <div class="container-discord">
            <h1 class="header">Visit our <span class="text-neon-azure">Discord</span> servers</h1>

            <div class="container-buttons">

                <div id="NC-coin" class="discord-card">

                    <a href=""><img src="./images/icons/icon-Nc-coin" alt=""></a>

                    <h5 class="text-neon-azure description">Coin</h5>

                </div>

                <div id="NC-community" class="discord-card">

                    <a href=""><img src="./images/icons/icon-NC-community" alt=""></a>

                    <h5 class="text-neon-yellow description">Community</h5>

                </div>

            </div>

        </div>

    </main>

</section>