<section class="section banner hidden">
    
    <%- include('../navbar.ejs') %>

    <main class="section-main banner-main">

        <div class="upper">

            <div class="upper-main">
                <h1 class="title text-neon-azure">Natluk Coin</h1>
                <img src="./images/icons/icon-NC-coin" alt="">
            </div>

            <h4 class="motto">Where (3,3) becomes (4,4)</h4>
        </div>

        <div class="quotes">
            <h1 class="header">Let's build Wealth</h1>
            <ol class="list-disabled">
                <li>
                    <h4>Lorem ipsum dolor sit <span class="text-neon-azure">amet</span> consectetur adipisicing
                        elit.
                    </h4>
                </li>
                <li>
                    <h4>Lorem ipsum dolor sit <span class="text-neon-azure">amet consectetur</span> adipisicing
                        elit.
                    </h4>
                </li>
                <li>
                    <h4>Lorem ipsum dolor <span class="text-neon-azure">sit amet</span> consectetur adipisicing
                        elit.
                    </h4>
                </li>
            </ol>
        </div>

        <div class="container-statistics">

            <div class="container-statistics-item">
                <header>
                    <img src="./images/icons/Geometric/cone.png" alt="">
                    <h4 class="name">Market Cap</h4>
                </header>

                <h4 class="value">$902,201,13</h4>
            </div>

            <div class="container-statistics-item">
                <header>
                    <img src="./images/icons/Geometric/sphere.png" alt="">
                    <h4 class="name">Price</h4>
                </header>

                <h4 class="value">$0.00024</h4>
            </div>

            <div class="container-statistics-item">
                <header>
                    <img src="./images/icons/Geometric/cube.png" alt="">
                    <h4 class="name">Circulating supply</h4>
                </header>

                <h4 class="value">$584,912 / 613,103</h4>
            </div>

            <div class="container-statistics-item">
                <header>
                    <img src="./images/icons/Geometric/sphere-triangular.png" alt="">
                    <h4 class="name">Treasury Balance</h4>
                </header>

                <h4 class="value">$408,307,303</h4>
            </div>

        </div>

        <div class="container-buttons">
            <a href="" class="button-square button-full">
                <h5>Dashboard</h5>
            </a>
            <a href="" class="button-square">
                <h5>Roadmap</h5>
            </a>
        </div>

        <div class="container-graph">

        </div>

    </main>

</section>