<section class="section faq hidden">

    <main class="section-main faq-main">
        <h1 class="header">FAQ</h1>

        <div class="faq-list">

            <div class="faq-card">

                <div class="up">
                    <img class="button-open" src="./images/icons/arrow-right-small.png" alt="">

                    <h4 class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                </div>

                <div class="answer container-text">
                    <h5>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit porro repellendus optio quae aut
                        corrupti, repudiandae nemo voluptatum ab cum dolorum hic atque molestiae ipsa minus ipsum labore
                        tempore! Vero!
                    </h5>                        
                </div>

            </div>

            <div class="faq-card">

                <div class="up">
                    <img class="button-open" src="./images/icons/arrow-right-small.png" alt="">

                    <h4 class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                </div>

                <div class="answer container-text">
                    <h5>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit porro repellendus optio quae aut
                        corrupti, repudiandae nemo voluptatum ab cum dolorum hic atque molestiae ipsa minus ipsum labore
                        tempore! Vero!
                    </h5>                        
                </div>

            </div>

            <div class="faq-card">

                <div class="up">
                    <img class="button-open" src="./images/icons/arrow-right-small.png" alt="">

                    <h4 class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                </div>

                <div class="answer container-text">
                    <h5>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit porro repellendus optio quae aut
                        corrupti, repudiandae nemo voluptatum ab cum dolorum hic atque molestiae ipsa minus ipsum labore
                        tempore! Vero!
                    </h5>                        
                </div>

            </div>

            <div class="faq-card">

                <div class="up">
                    <img class="button-open" src="./images/icons/arrow-right-small.png" alt="">

                    <h4 class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                </div>

                <div class="answer container-text">
                    <h5>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit porro repellendus optio quae aut
                        corrupti, repudiandae nemo voluptatum ab cum dolorum hic atque molestiae ipsa minus ipsum labore
                        tempore! Vero!
                    </h5>                        
                </div>

            </div>

            <div class="faq-card">

                <div class="up">
                    <img class="button-open" src="./images/icons/arrow-right-small.png" alt="">

                    <h4 class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                </div>

                <div class="answer container-text">
                    <h5>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit porro repellendus optio quae aut
                        corrupti, repudiandae nemo voluptatum ab cum dolorum hic atque molestiae ipsa minus ipsum labore
                        tempore! Vero!
                    </h5>                        
                </div>

            </div>

            <div class="faq-card">

                <div class="up">
                    <img class="button-open" src="./images/icons/arrow-right-small.png" alt="">

                    <h4 class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                </div>

                <div class="answer container-text">
                    <h5>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit porro repellendus optio quae aut
                        corrupti, repudiandae nemo voluptatum ab cum dolorum hic atque molestiae ipsa minus ipsum labore
                        tempore! Vero!
                    </h5>                        
                </div>

            </div>

        </div>


    </main>

</section>